body {
  font-family: "Poppins", sans-serif;
  background: #bdc3c7; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to left,
    #2c3e50,
    #bdc3c7
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to left,
    #2c3e50,
    #bdc3c7
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
a {
  text-decoration: none;
  color: black;
}
.container {
  min-height: 100vh;
  max-width: 100vw;
  margin: 0 auto;
}
.nav {
  height: 50px;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: rgb(27, 27, 27);
  z-index: 1337;
  padding: 15px;
  box-sizing: border-box;
  color: white;
  box-shadow: 1px 2px 4px rgba(0, 0, 0, 0.555);
}
.nav-logo {
  height: 40px;
  width: 100px;
}
.navbar-item {
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
}
.hidden {
  display: none;
}

.loading {
  height: 100vh;
  max-width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media (min-width: 768px) {
  .hidden {
    display: inline;
    font-size: 15px;
  }

  .navbar-item:hover {
    transition: all 0.3s ease;
    color: red;
  }
}
